section{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

article{
    border: 1px solid black;
    text-align: center;
    min-width: 0;
}

article img{
    width: 100%;
    height: auto;
    min-width: 0;
}


article p{
    padding: 10px;
    min-width: 0;
}